# Dash App Core
dash[diskcache]
dash-bootstrap-components

# Data Handling
pandas
openpyxl

# Visualization Libraries from Lecture
matplotlib
seaborn
squarify

# For .env file management (if we add it back later)
python-dotenv

# For deployment
gunicorn
